h1 {
  background-color: blueviolet;
  text-align: center;
  font-size: 3rem;
  border-bottom: 5px solid black;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 1000;
}

h2 {
  text-align:center;
  font-size: 3rem;

}