h1 {
  background-color: blueviolet;
  text-align: center;
  font-size: 5rem;
  border-bottom: 5px solid black;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: 1000;
}